@{
    Layout = "_MinBootstrapLayout";
}
<div class="m-4 vstack gap-0 text-center">
  <h5>Such user doesn't exist</h5>
  <a href="" class="text-primary text-decoration-none" onclick="history.back()">Back</a>
</div>