.RangeLeft, .RangeRight {
    text-align: center;
    width: auto;
}

.BriefChemicalsList {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /*list-style-type: persian;*/
    list-style-type: none;
    padding: 0px;
    gap: 0.7em;
}

.BriefChemical {

}

.Active {
    /*outline: 5px thin red;*/
    /*font-weight: bold;*/
}