* {
    border-radius: 0 !important;
}

:root {
    --blue: #1e90ff;
    --columns_count: 18;
}

div.scroll-hor {
    overflow-x: auto;
}

.mendeleev-table {
    min-width: 600px;
    padding: 3px;
    padding-left: 0px;
    padding-top: 0px;
    margin-bottom: 0px;
    list-style-type: none;
    grid-template-columns: 1em repeat(var(--columns_count), 1fr);
    display: grid;
    gap: 5px;
}

.Valence {
    font-size: 0.7em;
    text-align: center;
}

.Group {
    text-align: center;
}

.Period {
    align-self: center;
    text-align: center;
}

.Element {
    padding: 3px;
    background: #ffd900;
    outline: 0px solid #af9494;
    line-height: 1;
    font-size: max(600px * 0.017, 1.17vw);
}

    .Element:hover {
        outline-width: 3px;
    }

    .Element.Active {
        outline: 3px solid #343e3e;
    }

    .Element > div > div > * {
        display: block;
        font-style: normal;
    }

    .Element > div > div > b {
        font-size: 0.65em;
        font-weight: 400;
    }

    .Element > div > div > abbr {
        font-size: 0.9em;
        padding-bottom: 0.2em;
        font-weight: 600;
    }

    .Element > div > div > em {
        font-size: 0.55em;
    }

    .Element > div > div > data {
        font-size: 0.55em;
        position: absolute;
        align-self: end;
    }

#found_chemicals {
    overflow-y: auto;
    max-height: 60vh;
}

.VerticalInner {
    grid-column-start: 4;
    grid-row: 8 / span 5;
}

.LeftBottomInner {
    grid-column: 1 / span 3;
    grid-row: 10 / span 3;
}

.BeforeLanthanidesInner {
    font-size: 0.7em;
    padding: 0.5em;
    grid-column-end: span 15;
}

.Chemical {
}

.PropertyValuesContainer {
}

.insivible-chart-link {
    display: none;
}

.Alkali {
    background: #FF6666;
}

.Alkaline {
    background: #FFDEAD;
}

.Lanthanoid {
    background: #FFBFFF;
}

.Actinoid {
    background: #FF99CC;
}

.Transition {
    background: #FFC0C0;
}

.Poor {
    background: #CCCCCC;
}

.Metalloid {
    background: #CCCC99;
}

.Nonmetal {
    background: #A0FFA0;
}

.Noble {
    background: #C0FFFF;
}

.Unknown {
    background: #E6E6E6;
}
